* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 23%;
    background-color: rgb(244, 104, 190);
}

a {
    text-decoration: none;
    color: black;
}


#header-itens {
    display: flex;
    gap: 15px;
    font-size: 20px;
    justify-content: flex-end;
}

#aprenda {
    color: #700a5a;
}

#segredos {
    padding: 20px;
}

#herois {
    color: #8408a3;
}

h2 {
    font-size: 40px;
}

#inicio {
    display: flex;
    background-color: rgb(255, 126, 205);
    padding: 15px;
}


#desenvolvimento-linha {
    display: flex;
    justify-content: center;
    gap: 47%;
}

footer {
    background-color: rgb(255, 126, 205);
    padding: 15px;
}

#curiosidades {
    display:flex;
    background-color: rgb(255, 126, 205);
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding: 30px;
    margin: 40px;
}

#curiosidades img {
    width: 450px;
    height: auto;
    border-radius: 10px;
}


.cards {
    display:flex;
    gap: 7px;
    line-height: 20px;
    background-color: rgb(255, 126, 205);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

h4 {
    font-size: 25px;
}

h3 {
    font-size:  27px;
    color: #700a5a
}

#sabia {
    color: #700a5a;
}

.numero {
    color: #c300e1ea;
}