 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 23%;
    background-color: rgba(7, 17, 104, 0.762);
}

#menu{
    color: rgba(7, 17, 104, 0.762);
    display: flex;
    padding: 10px;
    gap: 10px;
}


#inicio{
    display: flex;
    gap: 50px;
    padding: 20px;
    line-height: 45px;
    justify-content:space-between;
    align-items: center;
}

#personagem {
    display: flex;
    gap: 50px;
    padding: 20px;
    line-height: 45px;
    justify-content: space-between;
    align-items: center;
}

#curiosidades {
    display: flex;
    gap: 50px;
    padding: 20px;
    line-height: 45px;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none;
    color: black;
}

#aprenda {
    color: rgba(7, 17, 104, 0.762);
}

#universo {
    color: rgba(7, 17, 104, 0.762);
}

#header-itens {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

h2 {
    font-size: 45px;
}

#fortes {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    gap: 65%;
    justify-content: center;
}

#especiais {
    color:rgba(7, 17, 104, 0.762);
}

#mais {
    color: rgba(7, 17, 104, 0.762); 
    font-size: 25px;
}

#um {
    color: rgba(7, 17, 104, 0.762);
    font-size: 25px;
}

#cards{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

#poderes {
    background-color: rgba(7, 17, 104, 0.762);
    border-radius: 10px;
    padding: 15px
}

#missoes {
    background-color: rgba(7, 17, 104, 0.762);
    border-radius: 10px;
    padding: 15px;
}

#especiais {
    background-color:rgba(7, 17, 104, 0.762);
    border-radius: 10px;
    padding: 15px;
}

#pronto {
    background-color: rgba(7, 17, 104, 0.762);
    text-align: center;
    padding: 30px;
    line-height: 30px;
}

#linha {
    display: flex;
    justify-content: center;
    gap: 47%;
}

footer {
    background-color:rgb(121, 121, 121);
    padding: 15px;
}